@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>International Islamic University, Islamabad</h1>
    <p class="lead">The foundation of the Islamic University, Islamabad was laid on the first day of the fifteenth century Hijrah i.e. Muharram 1, 1401 (November 11,1980). This landmark of the beginning of the new Century symbolizes the aspirations and hopes of the Muslim Ummah for an Islamic renaissance. The university was created to produce scholars and practitioners who are imbued with Islamic ideology, whose character and personality conforms to the teachings of Islam, and who are capable to cater to the economic, social, political, technological and intellectual needs of the Muslim Ummah</p>
    <p><a href="https://www.iiu.edu.pk" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Faculty of Basic And Applied Sciences</h2>
        <p>
            The Faculty of Basic and Applied Sciences was formally established in the first quarter of 2003.
            The design and planning had been in process for many years. 
            The Faculty of Applied Sciences has the objective to serve the purpose of human resource development, as well as....
            </p>
        <p><a class="btn btn-primary" href="https://www.iiu.edu.pk/?page_id=52" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Department of Software Engineering</h2>
        <p>Welcome! On behalf of the faculty, staff, and students of the Department of Computer Science & Software Engineering, 
            I greet you! For Computer Scientists the current era is full of excitement and challenges as the discipline is now widely recognized to 
            be an essential source of tools and techniques for advancements in nearly all spheres of human endeavor.
            </p>
        <p><a class="btn btn-primary" href="https://www.iiu.edu.pk/?page_id=1811">Learn more &raquo;</a></p>
    </div>
</div>