@model IEnumerable<UGPC_IIUI.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class="btn btn-primary"})
</p>
<table id="profTable" class="table table-hover table-striped">
    <thead style="background-color: #00A65A">
        <tr style="color:white">
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProfessorId }, new { @class = "btn btn-secondary btn-sm" })
                @Html.ActionLink("Details", "Details", new { id = item.ProfessorId }, new { @class = "btn btn-info btn-sm" })
            </td>
        </tr>
    }
    </tbody>

</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#profTable").DataTable();
        });
    </script>
}
